.selectedCard{
    position: relative;
    border: 5px goldenrod solid;
    border-radius: 5px;
}

.noOfCards{
    position: absolute;
    font-weight: bold;
    font-size: 44px;
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
    top:-0.5px;
    left: 0px;
    padding:0 8px 0 8px;
    background-color: goldenrod;
    border: 5px goldenrod solid;
}